header, footer {
  background-color: #2c3e50;   
  color: white;               
  width: 100%;                 
  height: 200px;               
  display: flex;               
  flex-direction: column;     
  justify-content: center;     
  align-items: center;         
}

footer ul, ul {
  list-style: none;            
  display: flex;               
  gap: 30px;                   
  padding: 0;
  margin: 0;
}

footer li, li {
  font-size: 1rem;
}
